:root {
  font-size: 16px;
  background-color: #000;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
@media (max-width: 600px) {
  :root {
    font-size: 13px;
  }
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  color: #fff;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
